{% extends "base_template.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Iniciar sesión</legend>
            <div>
                {{ form.email.label }}<br>
                {{ form.email(class_='form-input') }}<br>
                {% for error in form.email.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.password.label }}<br>
                {{ form.password(class_='form-input') }}<br>
                {% for error in form.password.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div>{{ form.remember_me(class_='form-checkbox') }} {{ form.remember_me.label }}</div>
            <div>
                {{ form.submit(class_='form-submit') }}
            </div>
        </fieldset>
    </form>
    <div>¿No tienes cuenta? <a href="{{ url_for('show_signup_form') }}">Regístrate</a></div>
{% endblock %}
