<!DOCTYPE html>
<html>
<head>
    <title>Página no encontrada</title>
    <link href="/static/styles.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
        }
        .error-message {
            text-align: center;
            padding-top: 50px;
        }
        a {
            color: #4CAF50;
        }
    </style>
</head>
<body>
    <div class="error-message">
        <h1>Error 404: Página no encontrada</h1>
        <p>Lo sentimos, parece que la página que estás buscando no existe.</p>
        <p>Parece que no has ingresado todos los campos requeridos para la predicción. Por favor, vuelve atrás y asegúrate de haber ingresado todos los datos necesarios.</p>
        <p><a href="/">Regresar a la página de inicio</a></p>
    </div>
</body>
</html>
