<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de inicio - Iris</title>
    <style>
        body {
            background-image: url('/static/img/flowers.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;  
            background-size: cover;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Bienvenido a la aplicación FastAPI de Iris</h1>
    <p>Esta es una página de inicio sencilla.</p>
    <p><a href="/obtener-iris">Obtener datos de Iris</a></p>
    <p><a href="/pagina-iris">Graficar datos de Iris</a></p>
    <p><a href="/predict-page">Predecir especie de Iris (Ingreso manual)</a></p> <!-- CAMBIADO -->
    <p><a href="/cargar-archivo">Predecir especie de Iris (Subir archivo CSV)</a></p>
</body>
</html>
