<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de inicio - Iris</title>
</head>
<body>
    <h1>Bienvenido a la aplicación FastAPI de Iris</h1>
    <p>Esta es una página de inicio sencilla.</p>
    <p><a href="/obtener-iris">Obtener datos de Iris</a></p>
    <p><a href="/graficar-iris">Graficar datos de Iris</a></p>
</body>
</html>
