{% extends "base_template.html" %}

{% block title %}
    {% if form.title.data %}
        {{ form.title.data }}
    {% else %}
        Nueva entrada
    {% endif %}
{% endblock %}

{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>{% if form.title.data %}Editar Entrada{% else %}Nueva Entrada{% endif %}</legend>
            <div>
                {{ form.title.label }}<br>
                {{ form.title(size=128, class_='form-input') }}<br>
                {% for error in form.title.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.title_slug.label }}<br>
                {{ form.title_slug(size=128, class_='form-input') }}<br>
                {% for error in form.title_slug.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.content.label }}<br>
                {{ form.content(class_='form-input') }}<br>
                {% for error in form.content.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.submit(class_='form-submit') }}
            </div>
        </fieldset>
    </form>
{% endblock %}
